ENV=ANYTHING

BOT_TOKEN=
API_ID=
API_HASH=
OWNER_ID=
MESSAGE_DUMP=

DB_URI=
DB_NAME=sayarobot
BDB_URI=

PREFIX_HANDLER=/ !
TIME_ZONE=Asia/Kolkata
WORKERS=8

DEV_USERS=
SUDO_USERS=
WHITELIST_USERS=

SUPPORT_GROUP=
SUPPORT_CHANNEL=
GENIUS_API=
RMBG_API=
AuDD_API=
IMGBB_API_KEY=

GEMINI_API_KEY=
CHATBOT_DB_URI=
CHATBOT_DB_NAME=sayarobot
