ENV=ANYTHING

BOT_TOKEN=your_bot_token
API_ID=your_api_id
API_HASH=your_api_hash
OWNER_ID=your_telegram_user_id
MESSAGE_DUMP=-1001234567890

DB_URI=your_mongodb_uri
DB_NAME=sayarobot
BDB_URI=

PREFIX_HANDLER=/ !
TIME_ZONE=Asia/Kolkata
WORKERS=8

DEV_USERS=
SUDO_USERS=
WHITELIST_USERS=

SUPPORT_GROUP=YourMoreBotsChannel
SUPPORT_CHANNEL=YourMoreBotsChannel
GENIUS_API=
RMBG_API=

GEMINI_API_KEY=
CHATBOT_DB_URI=
CHATBOT_DB_NAME=sayarobot
